
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'MyFontLight';
    src:url(../fonts/Graphik-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'MyFontBold';
    src:url(../fonts/Graphik-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
:root {
    font-family: 'MyFont', sans-serif;
    letter-spacing: 0.2px;
    text-align: center;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}